/* frontend/styles/TaskRow.module.css */

.row {
    background-color: #fff;
    transition: background-color 0.3s;
}

.row:hover {
    background-color: #f9f9f9;
}

.row td {
    padding: 12px 8px;
    border-bottom: 1px solid #ddd;
}

.pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 200px;
}
